[submodule "tarefa"]
	path = tarefa
	url = https://github.com/phaalonso/ionic-task-list
[submodule "ionic-request"]
	path = ionic-request
	url = https://github.com/phaalonso/ionic-request
[submodule "ionic-gerenciador-senhas"]
	path = ionic-gerenciador-senhas
	url = https://github.com/phaalonso/ionic-gerenciador-senhas
[submodule "form"]
	path = form
	url = https://github.com/phaalonso/ionic-form-validation/commits/master
[submodule "login"]
	path = login
	url = https://github.com/phaalonso/ionic-login
[submodule "trabalho-critica"]
	path = trabalho-critica
	url = git@github.com:phaalonso/trabalho-critica.git
[submodule "app-critica"]
	path = app-critica
	url = https://github.com/phaalonso/App-Feedback
