[submodule "tarefa"]
	path = tarefa
	url = https://github.com/phaalonso/ionic-task-list
[submodule "ionic-request"]
	path = ionic-request
	url = https://github.com/phaalonso/ionic-request
[submodule "ionic-gerenciador-senhas"]
	path = ionic-gerenciador-senhas
	url = https://github.com/phaalonso/ionic-gerenciador-senhas
